@model Notice.Models.Post

@{
    ViewData["Title"] = "Delete";
}

<h1>삭제</h1>

<h3>이 글을 삭제하시겠습니까?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayName("제목")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("내용")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("작성일")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDatetime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="post_id" />
        <input type="submit" value="삭제" class="btn btn-danger" /> |
        <a asp-action="Index">목록으로</a>
    </form>
</div>
