@model IEnumerable<Notice.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<h1>전체 게시물 조회</h1>

<p>
    <a asp-action="Create">글 작성</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("제목")
            </th>
            <th>
                @Html.DisplayName("내용")
            </th>
            <th>
                @Html.DisplayName("작성일")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDatetime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.post_id">수정</a> |
                <a asp-action="Details" asp-route-id="@item.post_id">조회</a> |
                <a asp-action="Delete" asp-route-id="@item.post_id">삭제</a>
            </td>
        </tr>
}
    </tbody>
</table>
